.container-pipeline {
    margin: 0 auto;
    max-width: 90%;
}

table.table-simple {
    border: 1px solid #808080;
}

table.table-simple th,
table.table-simple td {
    border: 1px solid #808080;
}

.pipeline-arrow {
    margin: 2px 0px;
    background: #504DCB;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow2 {
    margin: 2px 0px;
    background: #504DCB;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 10px;
    color: #fff;
    line-height: 15px;
}

.pipeline-arrow3 {
    margin: 2px 0px;
    background: #504DCB;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 11px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-legend {
    width: 75px;
    float: left;
    margin: 0px 2px;
    background: #504DCB;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-legend-en {
    width: 80px;
    float: left;
    margin: 0px 2px;
    background: #504DCB;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-link {
    color: #FFFF00;
    text-decoration: underline;
}

.pipeline-arrow-link:hover {
    color: #FADF00;
    text-decoration: underline;
}

.pipeline-arrow-prepared {
    margin: 2px 0px;
    background: #698447;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-prepared-legend {
    width: 75px;
    float: left;
    margin: 0px 2px;
    background: #698447;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-prepared-legend-en {
    width: 80px;
    float: left;
    margin: 0px 2px;
    background: #698447;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-prepared-link {
    color: #FFEDE8;
    text-decoration: underline;
}

.pipeline-arrow-prepared-link:hover {
    color: #FFC2C1;
    text-decoration: underline;
}

.pipeline-arrow-end {
    margin: 2px 0px;
    background: #978083;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow2-end {
    margin: 2px 0px;
    background: #978083;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 10px;
    color: #fff;
    line-height: 15px;
}

.pipeline-arrow3-end {
    margin: 2px 0px;
    background: #978083;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 11px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-end-legend {
    width: 75px;
    float: left;
    margin: 0px 2px;
    background: #978083;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-end-legend-en {
    width: 80px;
    float: left;
    margin: 0px 2px;
    background: #978083;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-sale {
    margin: 2px 0px;
    background: #DD9F21;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-sale-legend {
    width: 75px;
    float: left;
    margin: 0px 2px;
    background: #DD9F21;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-sale-legend-en {
    width: 80px;
    float: left;
    margin: 0px 2px;
    background: #DD9F21;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 29px;
}

.pipeline-arrow-plan {
    margin: 2px 0px;
    background: #fff;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #000000;
    line-height: 29px;
    border: dashed 2px #504DCB;
}

.pipeline-arrow-plan2 {
    margin: 2px 0px;
    background: #fff;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 10px;
    color: #000000;
    line-height: 14px;
    border: dashed 2px #504DCB;
}

.pipeline-arrow-plan-legend {
    width: 75px;
    float: left;
    margin: 0px 2px;
    background: #fff;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #000000;
    line-height: 29px;
    border: dashed 2px #504DCB;
}

.pipeline-arrow-plan-legend-en {
    width: 80px;
    float: left;
    margin: 0px 2px;
    background: #fff;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    color: #000000;
    line-height: 29px;
    border: dashed 2px #504DCB;
}

.pipeline-option {
    padding: 0px 10px;
}

.breadcrumb-option {
    background: #fff !important;
}

.scrollbooster-viewport-pipeline {
    width: 100%;
    max-width: 1329px;
    background: #e4e4e4;
    margin: 0 auto;
    overflow: hidden;
    cursor: default;
}

.table-pipeline {
    width: 1328px;
    table-layout: fixed;
    background: #fff;
    font-size: 0.8em;
    overflow-wrap: break-word;
}

.scrollbooster-viewport-pipeline-other {
    width: 100%;
    max-width: 511px;
    background: #e4e4e4;
    margin: 0 auto;
    overflow: hidden;
    cursor: default;
}

.table-pipeline-other {
    width: 510px;
    table-layout: fixed;
    background: #fff;
    font-size: 0.8em;
    overflow-wrap: break-word;
}

.scrollbooster-viewport-pipeline-other-en {
    width: 100%;
    max-width: 541px;
    background: #e4e4e4;
    margin: 0 auto;
    overflow: hidden;
    cursor: default;
}

.table-pipeline-other-en {
    width: 540px;
    table-layout: fixed;
    background: #fff;
    font-size: 0.8em;
    overflow-wrap: break-word;
}

.scrollbooster-viewport-contract-other {
    width: 100%;
    max-width: 731px;
    background: #e4e4e4;
    margin: 0 auto;
    overflow: hidden;
    cursor: default;
}

.table-contract-other {
    width: 730px;
    table-layout: fixed;
    background: #fff;
    font-size: 0.8em;
    overflow-wrap: break-word;
}

.scrollbooster-viewport-university {
    width: 100%;
    max-width: 861px;
    background: #e4e4e4;
    margin: 0 auto;
    overflow: hidden;
    cursor: default;
}

.table-university {
    width: 860px;
    table-layout: fixed;
    background: #fff;
    font-size: 0.8em;
    overflow-wrap: break-word;
}

.table-subsidiary {
    table-layout: fixed;
    margin: 0 auto;
    background: #fff;
    font-size: 0.8em;
    overflow-wrap: break-word;
}

.table-subsidiary td {
    padding: 0 20px 0 20px;
}

.pipeline-arrow-example {
    width: 395px;
    background: #fff;
    margin: 0 auto 8px auto; 
}

.pipeline-arrow-example-en {
    width: 420px;
    background: #fff;
    margin: 0 auto 8px auto; 
}

@media (max-width: 1495px) {
    .scrollbooster-viewport-pipeline {
        cursor: move;
    }
 }
@media (max-width: 585px) {
    .scrollbooster-viewport-pipeline-other {
        cursor: move;
    }
}
@media (max-width: 615px) {
    .scrollbooster-viewport-pipeline-other-en {
        cursor: move;
    }
}
@media (max-width: 832px) {
    .scrollbooster-viewport-contract-other {
        cursor: move;
    }
}
@media (max-width: 975px) {
    .scrollbooster-viewport-university {
        cursor: move;
    }
}

@media (max-width: 480px) {
    .pipeline-arrow-example-clearboth {
        clear: both;
        margin-bottom: 5px;
    }
    .pipeline-arrow-example {
        width: 240px;
    }
    .pipeline-arrow-example-en {
        width: 255px;
    }
 }
